<!--
    such as the address, phone number, email, social media icons, terms and conditions, privacy policy, etc.
-->
<mat-sidenav-container aria-label="footer">
    <ul class="footer" aria-label="contact info">
        <li role="phone">Phone: 800-323-9870</li>
        <li role="email">Email: ComicCorner@gmail.com</li>
        <span role="name">&#169;2023 ComicsCorner.Inc</span>
    </ul>
    <div class="line" aria-label="legal and contact info">
        <li role="link">Privacy Policy</li>
        <li role="link">Terms & conditions</li>
        <li role="link">About us</li>
        <li role="link">Contact us</li>
    </div>

    </mat-sidenav-container>