table {
  width: 100%;
  margin-top: 2px;
}

tr.detail-row {
  height: 0;
}

th {
  font-weight: bolder;
  font-size: medium;
}

tr.order-row:not(.expanded-row):hover {
  background: whitesmoke;
}

tr.order-row:not(.expanded-row):active {
  background: #efefef;
}

.order-row td {
  border-bottom-width: 0;
}

.order-detail {
  overflow: hidden;
  display: flex;
}
