<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="{{column.accessor}}" *ngFor="let column of columnsToDisplay">
        <th mat-header-cell *matHeaderCellDef>
            {{column.display}} </th>
        <td mat-cell *matCellDef="let order"> {{order[column.accessor]}} </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<mat-paginator [length]="totalElements" [pageSize]="10" (page)="onPaginatorChange($event)"
               showFirstLastButtons></mat-paginator>
