<div class="profile-container">
    <div class="navigation">
        <button type="button" mat-raised-button color="primary" (click)="signOutWithCognito()">SignOut</button>
    </div>

    <mat-card>
        <mat-tab-group
                class="tab-group"
                mat-stretch-tabs
                mat-align-tabs="center"
                color="primary"
                backgroundColor="primary"
                [selectedIndex]=defaultTabIndex
                (selectedTabChange)="onTabChange($event)">
            <mat-tab>
                <ng-template mat-tab-label>
                    <mat-icon class="tab-icon">account_circle</mat-icon>
                    User Info
                </ng-template>
                <div class="user-content">
                    <mat-list>
                        <mat-list-item style="font-weight:600">User Email: {{ user.email }}</mat-list-item>
                        <mat-list-item style="font-weight:600">Last Name: {{ user.family_name }}</mat-list-item>
                        <mat-list-item style="font-weight:600">First Name: {{ user.given_name }}</mat-list-item>
                        <mat-list-item style="font-weight:600">Role: {{ user.role }}</mat-list-item>
                    </mat-list>
                </div>
            </mat-tab>
            <mat-tab>
                <ng-template mat-tab-label>
                    <mat-icon class="tab-icon">book</mat-icon>
                    My Orders
                </ng-template>
                <div>
                    <ng-template matTabContent>
                        <ng-container
                                *appSpinner="loading"
                                [ngTemplateOutlet]="page && page.totalElements > 0 ? orderGrid : noOrders"></ng-container>
                        <ng-template #orderGrid>
                            <app-order-history [email]="user.email"
                                               (pageEvent)="updateOrderCount($event)"></app-order-history>
                        </ng-template>
                        <ng-template #noOrders>
                            <p class="no-orders">No past orders to show! Click
                                <a routerLink="/products">here</a>
                                to browse comics!</p>
                        </ng-template>
                    </ng-template>
                </div>
            </mat-tab>
        </mat-tab-group>
    </mat-card>
</div>

<div class="admin-console" *ngIf="(user.role) == 'admin' ">
    <h1>Placeholder for Admin console.</h1>
</div>
